@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}
body {
  height: 100vh;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:checked ~ span:last-child {
  --tw-translate-x: 1.75rem; /* translate-x-7 */
}

.viewer .controls {
  position: none;
}

.rounded-color {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.h-selection {
  max-height: 503em;
}

.listColors {
  grid-column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.custom-iframe {
  width: 100%;
}

.configurator-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 120px;
}

.bt-mobile {
  width: 304px; /* Largeur pour la version mobile */
  height: 250px; /* Hauteur automatique pour la version mobile */
}
